.bg-red {
	background-color: #e54d42;
}

.bg-orange {
	background-color: #f37b1d;
}

.bg-yellow {
	background-color: #fbbd08;
}

.bg-olive {
	background-color: #8dc63f;
}

.bg-green {
	background-color: #39b54a;
}

.bg-cyan {
	background-color: #1cbbb4;
}

.bg-blue {
	background-color: #0081ff;
}

.bg-purple {
	background-color: #6739b6;
}

.bg-mauve {
	background-color: #9c26b0;
}

.bg-pink {
	background-color: #e03997;
}

.bg-brown {
	background-color: #a5673f;
}

.bg-grey {
	background-color: #aaaaaa;
}



.bg-black {
	background-color: #333333;
}

.bg-white {
	background-color: #ffffff;
}
