.text-red {
	color: #e54d42;
}

.text-orange {
	color: #f37b1d;
}

.text-yellow {
	color: #fbbd08;
}

.text-olive {
	color: #8dc63f;
}

.text-green {
	color: #39b54a;
}

.text-cyan {
	color: #1cbbb4;
}

.text-blue {
	color: #0081ff;
}

.text-purple {
	color: #6739b6;
}

.text-mauve {
	color: #9c26b0;
}

.text-pink {
	color: #e03997;
}

.text-brown {
	color: #a5673f;
}

.text-grey {
	color: #aaaaaa;
}



.text-black {
	color: #333333;
}

.text-white {
	color: #ffffff;
}
